.images {
  width: 100%;
  height: 100vh;
  top: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
  background-position: center;
  background-size: contain;

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;

    input {
      padding: 10px;
      &:focus {
        outline: none;
      }
    }
    textarea {
      padding: 10px;
      &:focus {
        outline: none;
      }
    }

    button {
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      outline: none;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    color: lightgray;

    input {
      padding: 5px;
      border-radius: 5px;
      outline: none;

      &:focus {
        outline: none;
      }
    }
    label {
      cursor: pointer;
    }
  }

  .imagesContainer {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .image {
      height: 150px;
      width: 200px;
      background-color: #1a1a40;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      color: lightgray;

      img {
        width: 300px;
        height: 70px;

        overflow: hidden;
      }

      .actions {
        display: flex;
        flex-direction: row;
        gap: 30px;
        cursor: pointer;

        .download {
          color: green;
        }
        .send {
          color: #8294c4;
        }
      }
    }
  }
}
